<form action="/customer/add" method="POST">
    <p>
        <label>Customer name</label><input value="" name="name"/><br/>
        <label>City</label><input value="" name="city"/><br/>
        <label>Product</label><input value="" name="product"/><br/>
        <button type="submit">Add Customer</button>
    </p>
</form>