<form action="/product/add" method="POST">
    <p>
        <label>Product name</label><input value="" name="name"/><br/>
        <label>Price</label><input value="" name="price"/><br/>
        <label>Company</label><input value="" name="company"/><br/>

        <button type="submit">Add Product</button>
    </p>
</form>