<form action="/company/add" method="POST">
    <p>
        <label>Company name</label><input value="" name="name"/><br/>
        <label>Company Status</label><input value="" name="status"/><br/>
        <button type="submit">Add Company</button>
    </p>
</form>