<h1>
    Product List
</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Company</th>
        <th>Price</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this._id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.company}}</td>
        <td>{{this.price}}</td>
    </tr>
    {{/each}}
</table>